<div class="container">
  <form #loginForm="ngForm" >


    <label for="email"><b>Email address</b></label>
    <input type="email" [(ngModel)]="loginData.email" name="email" id="email" class="form-control"  placeholder="name@example.com"/>
    <br>

    <label for="password" ><b>password</b></label>
    <input type="password" [(ngModel)]="loginData.password" name="password" id="password"class="form-control" />
    <br>
  <button type="submit" class="loginbtn" (click)="loginUser()">Login</button>
  </form>
<div style="margin-top: 10px;margin-left: 500px;">
  <a>New User?</a>
  <button id="register" [routerLink]="['/register']" routerLinkActive="true">Register</button>
</div>
</div>
